/* added some different var of colors */
:root {
    --main-color:#463f3a;
    --hover-color: #D4A373;
    --text-color: #463f3a;
    --bg-color: #CCD5AE;
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font: .9rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

*::selection {
    background-color: var(--main-color);
    color:#fff;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 30px 170px;
    background: var(--bg-color);
}

.name {
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.4rem;
    padding: 20px;

}

.navbar {
    display: flex;

}

.navbar a {
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 10px 20px;
    font-weight: 500px;
    margin-left: 40px;
    position: relative;
}

.navbar a:hover {
    color: var(--hover-color);
    transition: .3s;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
}

.section-detail {
    margin: 20px auto;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
}

.section-title {
    font-size: 48px;
    display: inline-block;
    border-right: 5px solid;
    margin-right: 35px;
    color: var(--main-color);
    text-align: right;
    padding: 50px;
    flex-basis: 25%;
}

.about-me {
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.self-image img {
    width: 50%;
    height: 50%;
    padding: 2rem;
    position:relative;
    left: 150px;
    border: solid var(--main-color);
}

/* .about-me h1 {
 font-size: 25px;
 color: var(--main-color);

} */

.about-me p {
    font-size: 20px;
    font-family: Sans-serif;
}

.github, .contact {
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.github-img {
    max-width: 50%;
    max-height: 75%;
    height: auto;
}

.github-text h1 {
    color: var(--main-color);
    font-weight: 600;
}

.github p {
    font-size: 20px;
    font-family: Sans-serif;
}

.contact ul {
    color: var(--text-color);
    font-size: 20px;
    font-family: Sans-serif;
}





































/* h1{ 
    color:white;
    font-size: 200%;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content:'';
    height: 3px;
    width: 0;
    background: rgb(84, 84, 228);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}
*/